<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>Biryani</h1></center>
    <h3>Biryani is a mixed rice dish, mainly popular in South Asia. It is made with rice, some type of meat and spices. To cater to vegetarians, in some cases, it is prepared by substituting vegetables for the meat. Sometimes eggs and/or potatoes are also added. Wikipedia
        Origins: India, Iran
        Place of origin: India, Pakistan, Iraq, Bangladesh, Iran, Afghanistan
        Ingredients generally used: Mutton; Chicken; Beef; Eggs; Nuts; Dried fruits; Vegetables; Potatoes
        Main ingredients: Rice; Spices; Meat
        Alternative names: Biriyani, biriani, beriani, briyani, breyani, briani, birani, buriyani, bariania, beriani
        Course: Main dish</h3>
</body>
</html>