<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>Oppo Mobile</h1></center>
    <h3>Oppo is a Chinese consumer electronics manufacturer headquartered in Dongguan, Guangdong. Its major product lines include smartphones, smart devices, audio devices, power banks, and other electronic products.

        It was overseen by BBK Electronics until 2023.[1]
        
        History
        The brand name "Oppo" was registered in China in 2001 and launched in 2004 by Tony Chen in Dongguan, China. In 2005, they introduced their first device internationally, the Oppo X3 MP3 player. [2] Since then, the company has expanded to over 50 countries and become a major player in electronic devices around world.[2]
        
        In June 2016, Oppo became the largest smartphone manufacturer in China,[3] selling its phones at more than 200,000 retail outlets.[4] In 2018, Oppo Digital announced that they were discontinuing their disc player business in major markets, and focusing on mobile devices. Oppo was the top smartphone brand in China in 2019 and was ranked fifth in market share worldwide.[5]
        
        In 2021, Oppo announced that they were acquiring OnePlus, a major phone manufacturer. This deal was extended in 2022, with OnePlus becoming one of Oppo's subsidiaries and sharing major components with Oppo phones, processors, screens, and even the phones themselves. OnePlus will also essentially serve as Oppo's US outlet with similar phones within the OnePlus brand.
        
        Branding
        
        Oppo logo used until March 2019
        
        Ollie, official mascot of Oppo
        The South Korean boy band 2PM prepared a song known as "Follow Your Soul" in a promotional deal with Oppo for launching its brand in Thailand in 2010.[6] In June 2015, the company signed an agreement with FC Barcelona to become a sponsor of the Spanish football club.[7][8][9]
        
        In 2016, the Philippine Basketball Association tied up with this company as its official smartphone partner, starting at the 2016 PBA Commissioner's Cup.
        
        Oppo hires celebrity endorsers in Vietnam. Sơn Tùng M-TP endorsed three smartphone units: Neo 5, Neo 7, and F1s. Oppo made a sponsorship to one of Vietnam's top-rated reality shows, The Face Vietnam.[10][11]
        
        In 2017, Oppo won the bid to sponsor the India national cricket team, which allowed their logo to be used on the team's kits from 2017 to 2019.[12]
        
        In 2019, Oppo became a sponsoring partner of the French Open tennis tournament held in Roland-Garros, Paris. The same year, they also became a sponsoring partner of Wimbledon Championships for 5 years as the first official smartphone partner.[13][3]
        
        Starting with the 2019 World Championship, Oppo is the exclusive global smartphone partner for League of Legends esports through 2024, Oppo will have year-round activations centered around the sport’s three annual global tournaments: the Mid-Season Invitational, the All-Star Event, and the World Championship.[14]</h3>
</body>
</html>