<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>Realme Phones</h1></center>
    <h3>Realme (stylized in all lowercase or as гealme; Chinese: 真我; pinyin: Zhēn wǒ) is a Chinese consumer electronics manufacturer based in Shenzhen, Guangdong. It was founded by Li Bingzhong (known as Sky Li) on May 4, 2018, who was a former vice president of Oppo. Starting originally as a sub-brand of Oppo, Realme eventually ventured as its own brand. Realme then became the fastest-growing 5G smartphone brand in Q3 2021.

        In June 2020, the number of Realme's global smartphone users reached 35 million, and AIoT product sales broke a record of 1 million. According to Counterpoint Statistics, Realme ranked 7th in the ranking of the number of smartphones produced globally in the first quarter of 2020, with an annual growth rate of 157%, ranking first in the world.[1]
        
        Currently, Realme has entered 27 markets worldwide, including the Philippines, China, India, Indonesia, Vietnam, Thailand, Malaysia, Europe, Russia, Australia, Egypt, etc. [2]
        
        History
        Realme company was founded on May 4, 2018.[3] Before that it was a sub-brand of Oppo, which is itself a subsidiary of BBK Electronics,[4] until its formation as a spinoff on May 4, 2018.[5][6]
        In May 2018, they released their first phone, Realme 1.
        On July 30, 2018, Sky Li announced his resignation from Oppo and his intention to establish Realme as an independent brand on Sina Weibo.[7]
        On November 15, 2018, Realme adopted a new logo.
        On November 22, 2018, Realme became an emerging brand in the Indian market.[8] The sales of Realme devices in India have since surpassed the sales of Oppo. Realme has been the fourth largest smartphone brand in India since 2019, behind Xiaomi, Samsung, and Vivo. Realme holds records in India for fastest-charging smartphone and India's first 5G smartphone.[9]
        On May 15, 2019, Realme held its first conference in Beijing to enter the Chinese domestic market, launching the Realme X, Realme X Lite and Realme X Master Edition.[10][11]
        By July 2019, Realme had entered markets including China, South Asia, Southeast Asia and Europe.[12]
        By August 2019, Realme surpassed 10 million users.[12]
        On May 16, 2022, Francis Wong takes over as CEO of Realme Europe.[13]</h3>
</body>
</html>